#container {
    background-color: #999;
    width: 250px;
    height:250px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.item {
    width: 50px;
    /* height: 50px; */
    background-color: blue;
    margin: 5px;
}

/* .item:nth-child(1) {
    font-size: 5px;
} */